<% @books.each do |book| %>
  <% if @count==0 %>
    <div class="d-flex justify-content-around mt-5 mx-auto">
      <% end %>

        <div class="card mx-auto mb-2" style="width: 14rem;">
          <h3 class="" style="height:330px;">
            <%= image_tag("img/#{book.id}.jpg", :alt=> "", class: "card-img-top") %>
          </h3>
          <p class="text-center">
            <%= book.book_title %>
          </p>
          <p class="text-center">
            ¥ <%= book.price %>
          </p>
          <%= link_to 'Buy' , book_path(book) , class: "btn btn-success btn-sm rounded-0" %>
        </div>

        <% @count +=1 %>
          <% if @count==4 %>
            <% @count=0 %>
    </div>
    <% end %>
      <% end %>