<h1 class="text-center">Complete</h1>
<p class="text-center">Complete Successfully.Thank you!</p>
<div class="d-flex justify-content-center m-3">
  <%= link_to 'Back' , root_path, class: "btn btn-primary" %>
</div>