<% @order_list.each do |order| %>
  <div class="d-flex justify-content-center m-3">
      <%= image_tag("img/#{order.book_id}.jpg", :alt=> "") %>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <td>Quantity:</td>
          <td>
            <%= order.quantity %>
          </td>
        </tr>
      </tbody>
    </table>
<% end %>